<!DOCTYPE html>
<head>
  <title>Voice Recorder</title>
  
</head>
<body>
  <button id="startButton">Start Recording</button>
  <button id="stopButton" disabled>Stop Recording</button>

  <script>
    let mediaRecorder;
    let chunks = [];

    const startButton = document.getElementById('startButton');
    const stopButton = document.getElementById('stopButton');

    startButton.addEventListener('click', startRecording);
    stopButton.addEventListener('click', stopRecording);

    function startRecording() {
      // function to record and store user voice.
      navigator.mediaDevices.getUserMedia({ audio: true })
        .then(function(stream) {
          mediaRecorder = new MediaRecorder(stream);
          // mediaRecorder.mimeType = 'audio/wav';
          mediaRecorder.start();

          // when start recording button in clicked then it becomes disabled 
          // and stop recording button in enabled
          startButton.disabled = true;
          stopButton.disabled = false;

          // if data is available then call the anonymous function
          // which will push the audio data which is available in e into chunk array
          // this process will continue till user clicks on stop button
          mediaRecorder.addEventListener('dataavailable', function(e) {
            chunks.push(e.data);
          });
        })
        // catch if any error occurs during collecting the data
        .catch(function(err) {
          console.log('Unable to access the microphone: ' + err);
        });
    }

    function stopRecording() {
      // function to stop the recording 
      // stop the recorder
      mediaRecorder.stop();

      // disable the stop button and enable start button
      startButton.disabled = false;
      stopButton.disabled = true;

      // add event listener on stop event and 
      mediaRecorder.addEventListener('stop', function() {

        // create a blob object from recorder audio chunks
        const audioBlob = new Blob(chunks ,{type:'wav'});
        // create a url to access the audioblob in filelike structure 
        // which will be sent to server for further process
        const audioUrl = URL.createObjectURL(audioBlob);

        const audioElement = document.createElement('audio');
        audioElement.controls = true;
        audioElement.src = audioUrl;
        // to directly start the audio
        // audioElement.autoplay = true;
        document.body.appendChild(audioElement);

        // add the audioElement to html page so that audio can be visible on same web page

        sendAudioData(audioBlob);
        
        chunks = [];
      });
    }

    function sendAudioData(audioBlob) {
      const formData = new FormData();
      // append audio to form Data
      formData.append('audio', audioBlob, 'recording.wav');
      // fetch('/audio', {method: 'POST',
      //   body: formData})
      //   .then(function(response) {
      //   return response.text();
      // }).then(function(text){
      //   console.log(text)
      // })


      // create new http request to call handler function
      const request = new XMLHttpRequest();
      request.overrideMimeType("audio/wav");
      request.open('POST', '/audio', true);

      // check the response of handler function and 
      request.onreadystatechange = function() {
        if (request.readyState === 4 && request.status === 200) {

          alert('Audio data sent successfully.');
        }
        else{
          alert('Audio not sent,issue occured')
        }
      };
      request.send(formData);
    }
  </script>
</body>
</html>